#team
  .team
    %h1= @team.name
    .row
      .col-sm-3
        Wins
      .col-sm-9
        %h1= "#{@team.games_won}, or #{number_with_precision(@team.percentage_games_won, :precision => 2)}% of games played won"
    .row
      .col-sm-3
        Losses
      .col-sm-9
        %p= "#{@team.games_lost}, or #{number_with_precision(@team.percentage_games_lost, :precision => 2)}% of games played lost"

#links
  = link_to "Back", teams_path, class: "btn btn-sm btn-default"
  = link_to "Edit", edit_team_path(@team), class: "btn btn-sm btn-default"
  = link_to "Delete", team_path(@team), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-default"