#user
  .user
    .row
      .col-sm-3
        Team
      .col-sm-9
        %h1= @user.team.name
    .row
      .col-sm-3
        Name
      .col-sm-9
        %p= @user.first_name + ' ' + @user.last_name
    .row
      .col-sm-3
        Wins
      .col-sm-9
        %h1= @user.games_won
    .row
      .col-sm-3
        Losses
      .col-sm-9
        %p= @user.games_lost


#links
  = link_to "Back", root_path, class: "btn btn-sm btn-default"
  = link_to "Edit", edit_user_path(@user), class: "btn btn-sm btn-default"
  = link_to "Delete", user_path(@user), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-default"